/*
Colors used:
Primary Color (Blue): #0053e3;
Secondary Color (Orange): #e75e29;
*/

#footer h4 {
  margin: 0;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;

}
#hero {
  background-color: #2f4858;
}
footer {
  background-color: #2f4858;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
nav > ul > li {
  display: inline-block;
}
nav > ul {
  margin: 1em 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #e75e29;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.logo {
  max-width: 250px;
}
#hero h1 {
  text-align: center; /* Centers text */
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
.container {
  padding: 0 15px;
}
/* Layout styling */
header {
  background-color: #ff44c4;
}
header {
  border-bottom: 3px solid #e75e29;
}
header {
  background-color: #ff44c4;
  text-align: center;
  padding: 10px;
}
header {
  background-color: #2f4858;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
a {
  color: #e75e29;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #e75e29;
  text-decoration: underline; /* Underlining when hovering over a link */
}
svg {
  width: 3%;
  fill: darkorange;
}

img {
  width: 100%;
}
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #ffffff;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #ffffff;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
  Large devices (1024px or larger)
  ================================= */
@media only screen and (min-width: 1024px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

.berlin-illustration {
  width: 500px;
  height: 500px;
